body {
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    margin: 0;
    line-height: 1.6;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
header {
    background-color: transparent;
    color: #e94560;
    padding: 1.5em 0;
    text-align: center;
    border-bottom: none;
    margin-bottom: 20px;
    backdrop-filter: none;
    border-radius: 15px;
}
header h1 {
    margin: 0;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bento-grid-luffy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 15px;
}
#name {
    grid-column: 1 / -1;
}
#powers {
    grid-column: 1 / 2;
}
#personality {
    grid-column: 1 / -1;
}
#image {
    grid-column: 2 / 3;
    text-align: center;
}
#image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}
.bento-item-luffy {
    background-color: transparent;
    padding: 25px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}
.bento-item-luffy:hover {
    transform: translateY(-5px);
    box-shadow: none;
}
h2 {
    color: #e94560;
    font-size: 2.8em;
    margin-bottom: 15px;
    border-left: 5px solid #e94560;
    padding-left: 10px;
}
h3 {
    color: #d0808d;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    font-size: 1.3em;
    margin-bottom: 10px;
}
p:last-child {
    margin-bottom: 0;
}