*{
    margin:0;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logo.jpg");
    background-size: cover;
    height: 50px;
    width: 150%;
}